// Fonts

$font:'Lato', sans-serif;
$hfont: 'Roboto', sans-serif;
$fontsize:1.1em;

// BG Colors

$bg__body:#534242;
$bg__container:#03045e;
$bg__header:#023e8a;
$bg__white:#fdfdfd;
$bg__color1:#00b4d8;
$bg__color2:#0096c7;

// Font Colors

$fcolor__light:white;
$fcolor__med: #90e0ef;
$fcolor__dark:#023e8a;

// Sizes

$pad__large:3em;
$pad__med:2em;
$pad__sm:.5em;